<!DOCTYPE html>
<html>
<head>
  <title>Jim Carrey - Wiki | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		Official Jim Carrey's wiki.<br />
	</header>
	<div id="main_part">
		<%= yield %>
		<nav>
			<br /><br />
			<a href="http://localhost:3000/">Home</a><br /><br /><br />
			<a href="http://localhost:3000/biography">Biography</a><br /><br /><br />
			<a href="http://localhost:3000/filmography">Filmography</a><br /><br /><br />
			<a href="http://localhost:3000/best">Best Moments</a><br /><br /><br />
		</nav>
	</div>
</body>
</html>
